@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
    url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
    url('fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.4;
  color: #000;
  overflow-x: hidden;
}

.header {
  padding-top: 2.6%;
  padding-bottom: 7.2%;
  background-image: url('../img/football_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.header::before {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-logo {
  width: 13.7%;
  fill: #fff;
}

.header-title {
  width: 90%;
  margin-top: 11.8%;
  margin-bottom: 8.5%;
}

.title {
  font-size: 90px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.title-stroke {
  display: block;
}

.title-stroke_title {
  display: block;
  padding-left: 10%;
}

.buttons {
  display: flex;
  justify-content: space-between
}

.button-element {
  display: inline-block;
  margin-left: 3%;
  vertical-align: middle;
  text-align: left;
}

.button {
  border-radius: 38px;
  background-color: #5e42b0;
  border: none;
  margin-right: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 75px 22px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: 200px;
  align-self: center;
}

.button_download,
.button_send {
  max-width: 48px;
  height: 100%;
  fill: #ffffff;
  vertical-align: middle;
}

.button_send {
  max-width: 40px;
}

.button-text {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0;
  line-height: 0.933;
}

.button-text_weight {
  font-weight: 700;
  display: block;
}

.athlete,
.player {
  position: relative;
}

.card-img_athlete {
  position: absolute;
  top: 3%;
  right: 50%;
  padding-left: 6%;
  /* width: 40%; */
}

.wrapper {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 0;
  background-color: #fff;
  margin: 0;
}

.wrapper_white {
  background-color: #fff;
}

.wrapper_grey {
  background-color: #efefef;
}

.wrapper_blue {
  background-color: #5e42b0;
}

.block-left {
  padding-left: 54%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.card-title {
  font-size: 80px;
  text-transform: uppercase;
  color: #e7e7e7;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 36px;
  text-transform: uppercase;
  color: #c1c1c1;
  font-weight: 700;
  vertical-align: text-bottom;
}

.card-num {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
}

.card-num_grey {
  color: #5e42b0;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}

.card-num_color {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}

.card-num::after {
  content: "";
  display: block;
  width: 21px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.card-num_grey::after {
  content: "";
  display: block;
  width: 21px;
  height: 5px;
  border-radius: 2px;
  background-color: #efefef;
}

.card-num_color::after {
  content: "";
  display: block;
  width: 21px;
  height: 5px;
  border-radius: 2px;
  background-color: #efefef;
}

.paragraf {
  font-size: 20px;
  font-weight: 400;
}

.paragraf_grey {
  font-size: 20px;
  font-weight: 400;
  color: #efefef;
}

.player {
  padding-top: 1.6%;
}

.wrapper_silver {
  background-color: #f0f1f1;
}

.wrapper_dark {
  background-color: #0a0e34;
}

.block-right {
  padding-right: 45%;
  padding-bottom: 2%;
  padding-top: 1%;
  padding-left: 10%;
}

.card-img_player {
  /* width: 55%; */
  position: absolute;
  top: 3%;
  left: 48%;
}

.section-card {
  display: flex;
}

.card-img,
.card-img_right {
  width: 50%;
}

.card {
  width: 50%;
  padding: 0;
  margin: 0;
}

.card-content {
  font-size: 20px;
  font-weight: 400;
  padding-left: 15%;
}

.card-content_left {
  font-size: 20px;
  font-weight: 400;
  padding-left: 6%;
}

.img {
  display: block;
  width: 100%;
}

.card-title_card {
  margin-top: 150px;
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-start;
}

.card-text {
  width: 85%;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
}

.card-block {
  position: absolute;
  width: 168px;
  height: 155px;
  display: block;
  background-color: #5e42b0;
  left: 50%;
  margin-left: -84px;
  transform: translateY(-170%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-block_text {
  font-size: 24px;
  color: #f5f6f7;
  font-weight: 700;
}

.card-block::after {
  content: "";
  display: block;
  background-color: #a58ced;
  width: 24px;
  height: 5px;
  position: absolute;
  transform: translateY(260%);
}

.footer {
  padding-top: 15%;
  padding-bottom: 7.2%;
  background-image: url('../img/game_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  margin: 0 auto;
}

.footer::before {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  width: 60%;
  margin-bottom: 9.8%;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title_title {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 80px;
}

.footer-svg {
  min-width: 80px;
  height: 100px;
  fill: #fff;
  background-color: #5e42b0;
  border-radius: 25%;
  padding: 20px 10px;
  margin-right: 15px;
  flex-shrink: 0;
}

.footer-text {
  font-size: 30px;
  color: #a496ca;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  display: block;
}

.footer-logo {
  width: 13.7%;
  fill: #fff;
  margin-top: 225px;
}

@media (min-width: 641px) and (max-width: 960px) {
  .header-logo {
    width: 23%;
  }

  .header-title {
    margin-left: 10%;
  }

  .title {
    font-size: 64px;
  }

  .buttons {
    margin-left: 8%;
  }

  .button {
    padding: 20px 45px;
  }

  .player,
  .athlets {
    overflow: hidden;
  }

  .card-img_athlete {
    padding: 0;
  }

  .section-card {
    flex-wrap: wrap;
  }

  .card-img,
  .card-img_right {
    width: 100%;
  }

  .img {
    width: 100%;
    display: block;
  }

  .card-img_right {
    order: -1;
  }

  .card-content {
    margin: 0;
    padding-left: 5%;
  }

  .card {
    width: 100%;
    position: relative;
  }

  .card-title_card {
    margin-top: 90px;
  }

  .card-block {
    width: 116px;
    height: 116px;
    position: absolute;
    top: 0;
    left: 15%;
    margin-top: 100px;
  }

  .footer-title {
    display: block;
    width: 90%;
    text-align: center;
  }

  .footer-text {
    font-size: 36px;
  }

  .footer-svg {
    display: block;
    margin: auto;
    margin-bottom: 80px;
    padding: 10px;
  }

  .footer-logo {
    width: 23%;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .header-logo {
    width: 25%;
  }

  .title {
    font-size: 28px;
  }

  .header-title {
    margin-left: 15%;
  }

  .buttons {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .button {
    width: 80%;
    margin-bottom: 30px;
    margin-right: 0;
    padding: 6px 50px 8px;
  }

  .button_download,
  .button_send {
    margin-right: 0;
  }

  .button-text,
  .button-text_weight {
    font-size: 8px;
  }

  .card-title {
    margin-bottom: 300px;
    font-size: 50px;
  }

  .card-img_athlete {
    position: absolute;
    top: 13%;
    left: 25%;
  }

  .subtitle {
    font-size: 23px;
  }

  .block-left {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
  }

  .card-img_player {
    position: absolute;
    top: 13%;
    left: 20%;
  }

  .block-right {
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
  }

  .player,
  .athlets {
    overflow: hidden;
  }

  .card {
    width: 100%;
  }

  .card-img_athlete {
    padding: 0;
  }

  .section-card {
    flex-wrap: wrap;
  }

  .card-img,
  .card-img_right {
    width: 100%;
  }

  .card-img_right {
    order: -1;
  }

  .card-content,
  .card-content_left {
    margin: 0;
    padding-left: 8%;
    padding-right: 3%;
  }

  .card-title_card {
    margin-top: 5%;
    font-size: 28px;
  }

  .card-text {
    font-size: 16px;
  }

  .card-block {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20%;
    margin-top: -65px;
  }

  .footer-title_title {
    font-size: 32px;
  }

  .footer-text {
    font-size: 14px;
  }

  .footer-title {
    display: block;
    width: 90%;
    text-align: center;
  }

  .footer-svg {
    display: block;
    margin: auto;
    margin-bottom: 80px;
    padding: 10px;
  }

  .footer {
    padding-top: 30%;
  }

  .footer-logo {
    margin-top: 10%;
    width: 25%;
  }

}