@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
    url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
    url('fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.4;
  color: #000;
}

.header {
  padding-top: 2.6%;
  padding-bottom: 7.2%;
  background-image: url('../img/football_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  min-width: 1200px;
}

.header::before {
  content: "";
  background-color: #0a0e34;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-logo {
  width: 13.7%;
  fill: #fff;
}

.header-title {
  width: 100%;
  margin-top: 11.8%;
  margin-bottom: 8.5%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 90px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.title-stroke {
  display: block;
}

.title-stroke_title {
  justify-content: right;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 38px;
  background-color: #5e42b0;
  border: none;
  margin-right: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 25px 15px 20px;
  text-align: center;
}

.button_download,
.button_send {
  max-width: 40px;
  height: 100%;
  fill: #ffffff;
  vertical-align: middle;
  margin-right: 15px;
  flex-grow: 0;
}

.button-text {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0;
}

.button-text_weight {
  font-weight: 700;
}

.card-img_athlete {
  position: absolute;
  top: 5%;
  left: 5%;
  margin-bottom: -25px;
}

.card {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 0;
  background-color: #fff;
}

.card_white {
  background-color: #fff;
  width: 1925px;
  height: 196px;
}

.card_grey {
  background-color: #efefef;
  width: 1925px;
  height: 196px;
}

.card_blue {
  background-color: #5e42b0;
  width: 1925px;
  height: 196px;
}

.block-left {
  padding-left: 55%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-title {
  font-size: 80px;
  text-transform: uppercase;
  color: #e7e7e7;
  font-weight: 700;
  padding: 0;
}

.subtitle {
  font-size: 36px;
  text-transform: uppercase;
  color: #c1c1c1;
  font-weight: 700;
  vertical-align: super;
}

.card-header {
  display: flex;
  flex-grow: 0;
}

.card-num {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
}

.card-num::after {
  width: 19px;
  height: 5px;
  color: #5e42b0;
  display: block;
}

.card-content {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 0;
}

.player {
  display: flex;
  justify-content: center;
  padding-top: 1.6%;
}

.card_white {
  width: 1925px;
  height: 196px;
}

.card_silver {
  width: 1925px;
  height: 196px;
  background-color: #f0f1f1;
}

.card_dark {
  width: 1925px;
  height: 196px;
  background-color: #0a0e34;
}

.cards {
  width: 40%;
}

.block-right {
  padding-right: 55%;
}

.block-right:nth-child(n+2) {
  padding-bottom: 60px;
}

.card-img_player {
  width: 60%;
}

.card-img {
  width: 50%;
  display: block;
}

.card-description {
  width: 50%;
}

.card-title_card {
  margin-top: 220px;
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-start;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 120px;
}

.card-text {
  width: 65%;
}

.card-block {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  font-size: 24px;
  color: #f5f6f7;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 15%;
  padding-bottom: 7.2%;
  background-image: url('../img/game_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  margin: 0 auto;
}

.footer::before {
  content: "";
  background-color: #0a0e34;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  width: 60%;
  margin-bottom: 9.8%;
  padding-top: 0;
}

.footer-title_title {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: top;
  font-size: 80px;
}

.footer-svg {
  min-width: 80px;
  height: 80px;
  fill: #fff;
  background-color: #5e42b0;
  border-radius: 25%;
  padding: 20px 10px;
  margin-right: 25px;
}

.footer-text {
  font-size: 30px;
  color: #a496ca;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
}

.footer-logo {
  width: 13.7%;
  fill: #fff;
  margin-top: 225px;
}